body {
    color: blue;
    font: 600 14px/24px "sans-serif", "Heltica";
}

.det_al,
.view {
    position: inherit;
    border-radius: 6px;
    margin-left: 120px;
    margin-right: auto;
}

.view {
    float: left;
    padding: 20px 0;
    text-align: center;
    margin-left: 40px;

}

img {
    border-radius: 10%;
}
